## Pros and Cons of the Options

### {title of option 1}

{example | description | pointer to more information}

* Good, because {argument a}
* Good, because {argument b}
* Neutral, because {argument c}
* Bad, because {argument d}

### {title of option 2}

{example | description | pointer to more information}

* Good, because {argument a}
* Good, because {argument b}
* Neutral, because {argument c}
* Bad, because {argument d}

### {title of option 3}

{example | description | pointer to more information}

* Good, because {argument a}
* Bad, because {argument b}
